{% extends 'base.html.twig' %}

{% block breadcrumb %}

{% endblock %}


{% block body %}

    <div class="container apartment text-center marginTopHeader">
        <h1>Bonjour {{ app.user}}</h1>
        <div>
            <a class="btn btn-success ml-auto m-2"
               href="{{  path('back.skill') }}"><span class="fas fa-plus-square mr-2"></span>Ajouter une compétence à mon profil</a>
        </div>
        <div>
            <a class="btn btn-success ml-auto m-2"
           href="{{  path('project_add') }}"><span class="fas fa-plus-square mr-2"></span>Ajouter un projet à votre portfolio</a>
        </div>
        <div>
            <a class="btn btn-success ml-auto m-2"
               href="{{  path('back.experiences') }}"><span class="fas fa-plus-square mr-2"></span>Ajouter une expérience à mon profil</a>
        </div>

        <div class="textBigger mt-3">
            <div class="card border-info mb-3">
                <div class="card-header">
                    <h4>Mon profil</h4>
                </div>
                <div class="card-body text-info">
                    {{ user.firstName }}
                </div>
                <div class="card-body text-info">
                    {{ user.lastName }}
                </div>
                <div class="card-body text-info">
                    {{ user.adress }}
                </div>
                <div class="card-body text-info">
                    {{ user.phoneNumber }}
                </div>
                <div class="card-body text-info">
                    {{ user.profilPicture }}
                </div>
                <div class="card-body text-info">
                    {{ user.wildPromo }}
                </div>
                <div class="card-body text-info">
                    {{ user.profilTitle }}
                </div>
                <div class="card-body text-info">
                    {{ user.profilDescription }}
                </div>
                <div class="card-body text-info">
                    {{ user.cvLink }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
